version: '3'
services:
  php:
    container_name: php
    build: ./docker/php/
    volumes:
      - ./yii:/var/www/html
      - ./bundles:/var/www/bundles
    networks:
      - docker-yii
    environment:
      - XDEBUG_CONFIG=idekey=PHPSTORM
      - PHP_IDE_CONFIG=serverName=localhost

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 80:80
    networks:
      - docker-yii
    volumes:
      - ./yii:/var/www/html
      - ./docker/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/conf/conf.d:/etc/nginx/conf.d
  
  mysql:
    container_name: mysql
    image: mysql:5.7.40-debian
    networks:
      - docker-yii
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - TERM=meh
    ports:
      - 3306:3306
    volumes:
      - ./my-db:/var/lib/mysql

  redis:
    container_name: redis
    command: redis-server --appendonly no --maxmemory-policy allkeys-lru --maxmemory 500mb --loglevel verbose
    restart: always
    image: redis:latest
    hostname: redis.10.10.9.86
    ports:
      - 0.0.0.0:6379:6379
    networks:
      - docker-yii

networks:
 docker-yii:
  driver: bridge

volumes:
  my-db:
  yii:
